@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
body {
  background-color: #1a1a1a;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: brightness(70%) saturate(120%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quote {
  background-color: rgba(135, 250, 177, 0.138);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 100vw;
  height: 60vh;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  display: flex; /* Added */
  flex-direction: column; /* Added */
}

.quote:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.quote h1 {
  font-weight: 700;
  margin-top: 0;
  font-size: 20px;
}

.quote p {
  font-family: "Dosis", sans-serif;
  font-size: 60px;
  font-weight:300;
  flex-grow: 1; 
  margin: 0; 
  padding: 5px;
}

.quote-container {
  margin-top: 20px;
}

button {
  background-color: goldenrod;
  color: rgb(0, 0, 0);
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgb(217, 181, 0);
}


.quote:hover::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  border-radius: 15px;
}

